@model Student_Management.Models.Hacker_Registration

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hacker_Registration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hacker_Batch.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hacker_Batch.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hacker_Course.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hacker_Course.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Registration_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
